<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="doubj, money-tracing, umijs, react" />
  <meta name="description" content="
    An out-of-box UI solution for enterprise applications as a React boilerplate." />
  <meta name="description" content="
      Out-of-the-box mid-stage front-end/design solution." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Money Tracing</title>
  <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
</head>

<body>
  <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
  <div id="root">
    <style>
      .boxLoading {
        width: 50px;
        height: 50px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .boxLoading:before {
        content: '';
        width: 50px;
        height: 5px;
        background: #000;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        animation: shadow .5s linear infinite;
      }

      .boxLoading:after {
        content: '';
        width: 50px;
        height: 50px;
        background: #1A6844;
        animation: animate .5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
      }

      @keyframes animate {
        17% {
          border-bottom-right-radius: 3px;
        }

        25% {
          transform: translateY(9px) rotate(22.5deg);
        }

        50% {
          transform: translateY(18px) scale(1, .9) rotate(45deg);
          border-bottom-right-radius: 40px;
        }

        75% {
          transform: translateY(9px) rotate(67.5deg);
        }

        100% {
          transform: translateY(0) rotate(90deg);
        }
      }


      @keyframes shadow {

        0%,
        100% {
          transform: scale(1, 1);
        }

        50% {
          transform: scale(1.2, 1);
        }
      }


      body,
      html {
        background: #ccc;
        overflow: hidden;
        height: 100%;
      }
    </style>
    <div class="boxLoading">
    </div>
</body>

</html>