@import './assets/css/index.less';

.text-colorful {
  background: rgba(255, 253, 160, 1);
  background: -webkit-linear-gradient(
      left,
      #00ffff 0%,
      #97fba0 25%,
      #97b1fb 50%,
      #00ffff 100%
    )
    repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide 100s infinite linear;
}
.expense {
  color: #ff5e65;
  font-weight: bold;
}

/* searchModal能够点击外层 */
.searchModal {
  &.ant-modal-wrap {
    pointer-events: none;
  }
}

.income {
  color: #04cd93;
  font-weight: bold;
}

/* 表格操作栏 */
.action-wrap .anticon {
  transition: all 0.2s;
  margin-left: 10px;
  font-size: 20px;
}

.action-wrap .anticon:hover {
  transform: scale(1.5);
}

.list-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  /* 修改table tr:hover的样式 */
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: #e6f7ff;
  }
  .pointer .ant-table-tbody > tr.ant-table-row:hover > td {
    cursor: pointer;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
